langchain==1.3.0
langchain-classic
langchain-core
langchain-openai
langgraph
pymongo
pymilvus
arxiv
pdfplumber
fastapi
uvicorn
websockets
python-dotenv
sentence-transformers
numpy
httpx
psutil
requests
tavily-python
langsmith
mcp
